.return {
  text-decoration: none;
  font-size: 1rem;
  color: #2a8c82;
  margin: 1.5rem 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: bolder;
  transition: 0.3s ease;
}

.card h5 {
  margin-bottom: 30px;
}

.return:hover {
  color: #41bfb3;
}

.links {
  display: flex;
}